h1 {
  color: white;
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: normal;
}

header {
  background-color: #003135;
  max-width: 90%;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

main {
  max-width: 85%;
  margin: auto;
  background-color: whitesmoke;
}

img {
  display: block;
  margin: auto;
  width: 50%;
  height: auto;
}

section {
  padding: 1rem;
}

h2,
h3 {
  font-family: 'Oswald', serif;
  padding: 0.5rem;
  text-align: center;
}

main p {
  font-family: 'Lato', serif;
}

ol li {
  font-family: 'Lato', serif;
}

h2 {
  text-align: center;
  background-color: #024950;
  color: white;
}

footer {
  background-color: #003135;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-family: 'Oswald', serif;
}
