h1 {
  color: white;
  font-family: 'Lato', serif;
  font-weight: 700;
  font-style: normal;
}

header {
  background-color: #003135;
  max-width: 80%;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

main {
  max-width: 75%;
  margin: auto;
  background-color: whitesmoke;
}

img {
  width: 200px;
}

section.frames {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
}

section {
  padding: 1rem;
}

h2,
h3 {
  font-family: 'Oswald', serif;
  padding: 0.5rem;
  text-align: center;
}

main p {
  font-family: 'Lato', serif;
}

ol li {
  font-family: 'Lato', serif;
}

h2 {
  text-align: center;
  background-color: #024950;
  color: white;
}

.frames h2 {
  grid-row: 1/2;
  grid-column: 1/3;
}

.frame1 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.frame2 {
  grid-column: 2/3;
}

footer {
  background-color: #003135;
  color: white;
  padding: 0.5rem;
  text-align: center;
  font-family: 'Oswald', serif;
}
