@media only screen and (min-width: 600px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    max-width: 95%;
    column-gap: 1rem;
  }

  .card1 {
    grid-column: 1/2;
  }

  .card2 {
    grid-column: 2/3;
  }

  .card3 {
    grid-column: 1/3;
  }
}
