@media (min-width: 460px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  .nav-container {
    display: flex;
    align-items: center;
  }
  .nav-container nav ul {
    display: flex;
  }
  .nav-container nav li {
    margin-right: 20px;
  }
  .nav-container a {
    font-size: 1.2rem;
    color: white;
  }
}
