body {
  background-color: #edf4ed;
  margin: 0;
}

header {
  background-color: #301014;
  color: #edf4ed;
  font-family: 'Besley', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.8rem;
}

header span {
  align-items: center;
}

header span {
  justify-content: center;
  display: flex;
}

header span img {
  padding: 1rem;
  width: 100px;
}

nav {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  justify-content: center;
  width: 100%;
  margin: auto;
  padding: 0;
  background-color: #79b791;
}

nav ul li {
  text-align: center;
  padding: 8px;
}

nav ul li a {
  text-decoration: none;
  color: #301014;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

main {
  max-width: 85%;
  margin: auto;
  background-color: #301014;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h1 {
  color: #edf4ed;
  text-align: center;
  font-family: 'Besley', serif;
  font-weight: 500;
  font-style: normal;
  margin-top: 0px;
  padding: 1rem;
}

h2 {
  font-family: 'Besley', serif;
  font-weight: 600;
  font-style: normal;
  color: #301014;
  text-align: center;
}

.card {
  background-color: #79b791;
  margin: 2rem;
  padding: 5px 0;
  box-shadow: 0 4px 8px 0 #abd1b5d4;
  color: #301014;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.card p {
  padding: 1rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 1rem;
}

ul li a {
  text-decoration: none;
  list-style: none;
}

footer {
  background-color: #301014;
  margin-top: 10px;
}

footer p {
  padding: 10px;
  text-align: center;
  color: #edf4ed;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}

footer img {
  text-align: center;
  padding: 10px;
}
