body {
    background-color: whitesmoke;
    color: black;
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    background-color: #E56D55;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

h1 {
    font-size: 2rem;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;

}

nav {
    background-color: #e5a397;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
}

nav ul a:hover {
    background-color: rgba(45, 142, 151, 0.306);
}

nav ul .active {
    background-color: rgba(45, 142, 151, 0.70);
    
}

main {
    display: block;
}

h1 #wddtitle {
   border;
}

.card {
    border-bottom: black, .5px;
    border-style: solid;
    margin: 1rem;
    padding: .5rem;
    
}

h2 {
    background-color: #E56D55;
}
