@media only screen and (min-width: 600px) {
  nav ul {
    display: flex;
    justify-content: space-around;
  }

  nav ul li {
    flex: 1 1 100%;
  }

  nav a:hover {
    border: 1px solid #fff;
  }

  main {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }
}
